<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<div class="h-[90vh] flex justify-center items-center" layout:fragment="content">
    <form class="flex flex-col gap-4" action="/members/join" method="post" onsubmit="validateJoinForm(this); return false;">
        <input type="text" placeholder="로그인 ID" class="input input-bordered w-full max-w-xs" name="username"/>
        <input type="password" placeholder="비밀번호" class="input input-bordered w-full max-w-xs" name="password">
        <input type="password" placeholder="비밀번호 확인" class="input input-bordered w-full max-w-xs" name="passwordConfirm">
        <input class="btn max-w-xs" type="submit" value="등록">
    </form>
    <script>
        function validateJoinForm(form) {
            if(form.username.value.trim().length == 0) {
                alert("아이디를 입력해주세요.");
                form.username.focus();
                return;
            }

            if(form.password.value.trim().length == 0) {
                alert("비밀번호를 입력해주세요.");
                form.password.focus();
                return;
            }

            if(form.passwordConfirm.value.trim().length == 0) {
                alert("비밀번호를 확인해주세요.");
                form.passwordConfirm.focus();
                return;
            }

            if(form.password.value.trim() != form.passwordConfirm.value.trim()) {
                alert("비밀번호가 일치하지 않습니다.");
                form.passwordConfirm.focus();
                return;
            }

            form.submit();
        }
    </script>
</div>

</html>