<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://kit.fontawesome.com/34aa722981.js" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<div class="logo flex justify-between items-center h-[10vh] p-2">
    <a class="text-[30px] " href="/">logo</a>
    <div class="flex gap-4">
        <a href="/members/logout">logout</a>
        <a href="/members/join">sign up</a>
    </div>
</div>
<div layout:fragment="content">

</div>
</body>
</html>